html,body{
  height: 100%;
}

body{
  padding-top: 70px;
  min-height: 400px;
  height: 100%;
  background-color: #e7e7e7;
}

pre{
  background-color: #FFF !important;
  border: none !important;
}

button.transparent {
  background: transparent;
}

span.glyphicon {
  font-size: 20px;
}

.col {
  position: absolute;
  top: 70px;
  bottom: 0px;
  overflow-y: scroll;
}

.base{
  z-index: 0;
}

.bottom-space{
  margin-bottom: 20px;
}

.tweet-post-action{
  margin-top: 10px;
  height: 50px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.tweet-post-action span {
  margin-right: 10px;
}

.tweet-post-action > button {
  border: none;
}

.tweet-post-action > button > span {
  color: #337ab7;
}

.tweet-post-action span.glyphicon{
  vertical-align: middle;
  font-size: 30px
}

.panel-footer-action{
  padding: 10px 40px;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.panel-footer-action > a {
  color: #aab8c2;
  margin-right: 40px;
}
.panel-footer-action > a:hover {
  color: #337ab7;
}
#detail{
  left: 25%;
  width: 50%;
  z-index: 1000;
}

#comment{
  margin-left: 10px;
  margin-right: 10px;
  left: 75%;
  width: 25%;
  z-index: 1000;
}
