<div class="panel panel-default">
  <div class="panel-body">
    <h3>{{title}} <small> {{dateStr}}</small></h3>
    {{content}}
  </div>
  <div class="panel-footer-action">
    <a href="#"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a>
    <a href="#"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></a>
    <a href="#"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
  </div>
</div>
