<!-- input form -->
<form id="input-form" onsubmit="return false;">
  <div class="panel panel-default">
    <div class="panel-body">
      <textarea id="tweet-input" class="form-control" rows="5"></textarea>
      <div id="preview-container" class="row"></div>
      <div class="tweet-post-action">
        <label for="file-input" class="glyphicon glyphicon-camera">
          <input id="file-input" type="file" name="name" accept="image/gif,image/jpeg,image/jpg,image/png" value="" style="display:none;" multiple>
        </label>
        <div class="pull-right">
          <span class="text-counter">140</span>
          <button id="tweet-post-button" class="btn btn-primary">投稿する</button>
        </div>
      </div>
    </div>
  </div>
</form>
