<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-body">
      <img src="image/pizza.jpg" alt="ユーザー" class="img-circle center-block bottom-space">
      <h3 class="bottom-space">
        {{username}}
        <button type="button" class="btn btn-primary pull-right">フォロー中</button>
      </h3>
      <div class="list-group">
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">ツイート</h4>
          <p class="list-group-item-text">xxx</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">フォロー</h4>
          <p class="list-group-item-text">yyy</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">フォローワー</h4>
          <p class="list-group-item-text">zzz</p>
        </a>
      </div>
    </div>
  </div>
</div>
