<div class="row">
  <div class="col-md-8 col-md-offset-3 col-sm-offset-4">
    <div class="panel panel-default panel-padding">
      <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active"><a href="#">ツイート</a></li>
        <li role="presentation"><a href="#">メディア</a></li>
        <li role="presentation"><a href="#">フォロー</a></li>
        <li role="presentation"><a href="#">フォローワー</a></li>
        <li role="presentation"><a href="#">いいね</a></li>
        <li role="presentation"><a href="#">お気に入り</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div id="setting-content-region" class="col-md-8 col-md-offset-3 col-sm-offset-4"></div>
</div>
