<div class="list-group" style="position: fixed; width: 20%; min-widths: 200px">
  <a href="#" class="list-group-item">
    ユーザー情報
    <span class="glyphicon glyphicon-menu-right pull-right"></span>
  </a>
  <a href="#" class="list-group-item">
    プライバシー
    <span class="glyphicon glyphicon-menu-right pull-right"></span>
  </a>
  <a href="#" class="list-group-item">
    セッション
    <span class="glyphicon glyphicon-menu-right pull-right"></span>
  </a>
  <a href="#" class="list-group-item">
    パスワード
    <span class="glyphicon glyphicon-menu-right pull-right"></span>
  </a>
  <a href="#" class="list-group-item">
    ミュート
    <span class="glyphicon glyphicon-menu-right pull-right"></span>
  </a>
  <a href="#" class="list-group-item">
    ブロック
    <span class="glyphicon glyphicon-menu-right pull-right"></span>
  </a>
</div>
